Exercise 1.1

In [12]:
def first_numer_to(list):
  for i, num in enumerate(list):
    if i==(len(list)-1):
      before = list[i-1]
      after = list[0]
    else:
      before = list[i-1]
      after = list[i+1]
    if num > (before + after):
      return (i, num)
  print("no number in the list in greater than the sum of its neighbors.")

my_list = [3, 3, 4, 6, 1]
index, number = first_numer_to(my_list)
print(f"The first number that is greater than the sum of its neighbors is {number} and its index is {index}.")

The first number that is greater than the sum of its neighbors is 6 and its index is 3.

Exercise 1.2 
Write a function that receives an iterable of full subject names (first name and then last name) and returns a dictionary of nested dictionaries, wherein each key is in the format “sub-i” and each value is a dictionary containing the keys "first_name" and "last_name", as well as the corresponding values.

For example:

subjects = ["Freddie Mercury", "Robert Plant"]

parse_subject_names(subjects)

{'sub-0': {'first_name': 'Freddie', 'last_name': 'Mercury'},

 'sub-1': {'first_name': 'Robert', 'last_name': 'Plant'}}

In [ ]:
def split_string(string)


def parse_subjects_names(subjects):